*{
    margin: 0px;
    padding:0;
    box-sizing: border-box;
}
/*Үндсэн стайлууд*/
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
.container {
    margin: auto;
    max-width: 1100px;
    overflow:auto;
    padding: 0 20px;
}
.text-primary{
    color:#e9a35d;
}
.lead{
    font-size:20px;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding:13px 20px;
    border:none;
    cursor: pointer;
}
.btn-light{
    background: #9e9191
    ;
    color: #333;
}
.btn:hover {
    background:#f7c08a;
    color:#333;
}
.bg-dark {
    background-color:#333;
    color: #ffffff;
}
.bg-light{
    background: #f2f2f2f2;
    color: #333;
}
.bg-primary{
    background: #f7c08a;
    color:#333;
}
.clr{
    clear: both;
}
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}
.l-heading{
    font-size: 40px;
    line-height: 1.2em
}
/*Menu styles*/
#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float:left;
    padding-top: 20px ;
    padding-left:10px;
}
#navbar ul{
    list-style: none;
    float:right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display:block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current
{
    background: #444;
    color: #e9ad71; 
}
/*Showcase styles*/
#showcase {
  background: url('../images/sun_showcase.jpg') no-repeat center center/cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken; /* or multiply */
  height: 600px;
}
 #showcase .showcase-content{
    color:white;
    text-align: center;
    padding-top:170px;
 }
 #showcase .showcase-content h1{
    font-size: 40px;
    line-height:1.2em;
 }
 #showcase .showcase-content p{
    padding-bottom: 30px;
    line-height:1.7em;
 }
 /*Information section*/
 #hotel-info {
    height:600px;
 }
  #hotel-info .info-img {
    float:left;
    width: 50%;
    background:url('https://scontent.fuln6-2.fna.fbcdn.net/v/t39.30808-6/473108969_1287251159194151_6821939837268969870_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=RldpoAA7s6kQ7kNvwGRF_Nu&_nc_oc=AdkFL4CmIMNaSAXptqwanccy_zBxCvfIZJUrdApCRcrCMDq5QtZXjzVr360Z-S0RqjWZzOVvPp2pzzLZ4O6OPZ0a&_nc_zt=23&_nc_ht=scontent.fuln6-2.fna&_nc_gid=3ms-RJ3w_x0cXSg7Y5XXaQ&oh=00_AfZN6MW3TKmc5vbGn7IueZvlfQcU87kDLQ27DGgnnhVThA&oe=68E4505A') no-repeat center center/cover;
    height:100%;

}
#hotel-info .info-text {
    float: right;
    text-align: center;
    width:50%;
    height: 100%;
    padding:40px 40px;
    overflow: hidden;
}
#hotel-info .info-text p {
    padding-bottom:20px;
}
p{
    font-size: 20px;
}
.box{
    
    float: left;
    width: 33.3%;
    padding: 50px; /*Box-sizing: Border-box*/
    text-align: center;
 }
 /*about-info*/
 #about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;

 }
 #about-info .info-right img{
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 50%;

 }
 #about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;

 }
 /*comments*/
 #comments{
    height: 100%;
    background: url('../images/20200701_04test-bg.jpg') no-repeat center center/cover;
    padding-top: 40px;
 }
 #comments .comment img {
    float: left;
    width: 100px;
    border-radius: 50%;
    margin-right:20px;
}

 #comments  h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#comments .comment{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    opacity:0.8;      /*transparent effect*/
}
/* Contact form*/
#contact-form .form-group{
    margin-bottom: 20px;
}
#contact-form label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input, 
#contact-form textarea {
    width: 100%;
    padding:10px;
    border:1px #983115 solid;
}
#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
#contact-form textarea {
    height: 200px;
}

#main-footer{
    text-align: center;
    color: #f4f4f4;
    background: #333;
    padding: 20px;
 
 }
 #instagram {
    color: #E1306C;              /* Instagram pink */
             /* adjust as needed */
    text-decoration: none;       /* remove underline if it's a link */
    transition: color 0.3s ease; /* smooth change when hover happens */
}
#instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);

    -webkit-text-fill-color: transparent;
    transition: background 0.5s ease;
}
#facebook {
    color: #1877F2;              /* Facebook blue */
    text-decoration: none;
    transition: color 0.3s ease;
}
#facebook:hover{
    background: linear-gradient(45deg, #1877F2, #3b5998);
    -webkit-text-fill-color: transparent;
    transition: background 0.4s ease;
}